<div id="canvas-tab" class="tab-pane fade in active container-fluid">
    <br/>
    <div class="row content">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#drawing-tab">Drawing board</a></li>
                <li><a data-toggle="tab" href="#editor-tab">Editor</a></li>
            </ul>

            <div class="tab-content">

                <div id="drawing-tab" class="tab-pane fade in active container-fluid">
                    <br/>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-default" id="drawing-panel">
                                <div class="panel-heading">Canvas</div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                    </div>

                        <div class="col-md-2">
                            <div class="panel panel-default" id="building-blocks">
                                <div class="panel-heading">Building Blocks</div>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">Linear</button>
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">BatchNorm</button>
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">Relu</button>
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">Sigmoid</button>
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">DropOut</button>
                                    <button type="button" class="btn btn-primary btn-block" draggable="true">Output</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="editor-tab" class="tab-pane fade container-fluid">
                    <br/>
                    <div class="panel-body">
                        <div id="nn-json"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
$(function () {

    var editor = ace.edit("nn-json");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/json");

    var canvasSocket;

    var canvasSocketOnOpen = function () {
        console.log("canvas websocket opened");
    };

    var canvasSocketOnClose = function () {
        console.log('canvas websocket disconnected');
        setCanvasSocket()
    };

    var canvasSocketOnMessage = function (msg) {
        // dispatcher(JSON.parse(msg.data));
        dispatcher(msg.data);
    };

    function setCanvasSocket() {
        var thisUrl = window.location.href;
        var wsUrl = thisUrl.replace("http", "ws") + (thisUrl.endsWith("/") ? "" : "/") + "net-canvas";
        canvasSocket = new WebSocket(wsUrl);
        canvasSocket.onopen = canvasSocketOnOpen;
        canvasSocket.onclose = canvasSocketOnClose;
        canvasSocket.onmessage = canvasSocketOnMessage;
    }

    setCanvasSocket();

    function dispatcher(msg) {
        console.log(msg);
        editor.setValue(msg, -1)
    }

    $("#canvas-deploy-button").click(function () {
        var json = editor.getValue();
        canvasSocket.send(json)
    });

});
</script>

