<div id="canvas-tab" class="tab-pane fade container-fluid">
    <br/>
    <div class="row content">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="form-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Network Editor</h3>
                    </div>
                    <div class="panel-body">
                        <div id="nn-json"></div>
                    </div>
                </div>

            </div>
            <button id="canvas-deploy-button" type="button" class="btn btn-primary">Deploy</button>
        </div>
    </div>
</div>

<script>
$(function () {

    var editor = ace.edit("nn-json");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/json");

    var canvasSocket;

    var canvasSocketOnOpen = function () {
        console.log("canvas websocket opened");
    };

    var canvasSocketOnClose = function () {
        console.log('canvas websocket disconnected');
        setCanvasSocket()
    };

    var canvasSocketOnMessage = function (msg) {
        // dispatcher(JSON.parse(msg.data));
        dispatcher(msg.data);
    };

    function setCanvasSocket() {
        var thisUrl = window.location.href;
        var wsUrl = thisUrl.replace("http", "ws") + (thisUrl.endsWith("/") ? "" : "/") + "net-canvas";
        canvasSocket = new WebSocket(wsUrl);
        canvasSocket.onopen = canvasSocketOnOpen;
        canvasSocket.onclose = canvasSocketOnClose;
        canvasSocket.onmessage = canvasSocketOnMessage;
    }

    setCanvasSocket();

    function dispatcher(msg) {
        console.log(msg);
        editor.setValue(msg, -1)
    }

    $("#canvas-deploy-button").click(function () {
        var json = editor.getValue();
        canvasSocket.send(json)
    });

});
</script>

