<div id="editor-tab" class="tab-pane fade in active container-fluid">
    <br/>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Json</div>
                <div class="panel-body">
                    <div class="editor-panel" id="nn-json">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">

            <label class="btn btn-primary btn-block" id="upload-button">
                    Open
                <input type="file" name="projectJson" id="projectJson" style="display: none;">
            </label>

            <button type="button" class="btn btn-primary btn-block">Save</button>
            <button type="button" class="btn btn-primary btn-block">Deploy</button>
        </div>

    </div>
</div>

<script>

$(function () {

    var jsonEditor = ace.edit("nn-json");
    jsonEditor.setTheme("ace/theme/monokai");
    jsonEditor.getSession().setMode("ace/mode/json");

    var json = {
        "name": "test-project",
        "miniBatchSize": 64,
        "dataSet": "cifar-10",
        "persistenceFrequency": 30,
        "template": {
            "configs": [{
                "class": "LinearConfig",
                "data": {
                    "shape": [100, 3072],
                    "regularization": 0.001,
                    "optimizer": {
                        "class": "NesterovOptimizer",
                        "data": {
                            "learningRate": 0.8,
                            "learningRateDecay": 0.95,
                            "beta": 0.9
                        }
                    },
                    "seed": 231
                }
            }, {
                "class": "BatchNormConfig",
                "data": {
                    "shape": [100, 3072],
                    "eps": 0.000009999999747378752,
                    "momentum": 0.8999999761581421
                }
            }, {
                "class": "ReluConfig"
            }, {
                "class": "DropoutConfig",
                "data": {
                    "p": 0.5
                }
            }, {
                "class": "LinearConfig",
                "data": {
                    "shape": [50, 100],
                    "regularization": 0.001,
                    "optimizer": {
                        "class": "NesterovOptimizer",
                        "data": {
                            "learningRate": 0.8,
                            "learningRateDecay": 0.95,
                            "beta": 0.9
                        }
                    },
                    "seed": 231
                }
            }, {
                "class": "BatchNormConfig",
                "data": {
                    "shape": [50, 100],
                    "eps": 0.000009999999747378752,
                    "momentum": 0.8999999761581421
                }
            }, {
                "class": "ReluConfig"
            }, {
                "class": "DropoutConfig",
                "data": {
                    "p": 0.5
                }
            }, {
                "class": "LinearConfig",
                "data": {
                    "shape": [10, 50],
                    "regularization": 0.001,
                    "optimizer": {
                        "class": "NesterovOptimizer",
                        "data": {
                            "learningRate": 0.8,
                            "learningRateDecay": 0.95,
                            "beta": 0.9
                        }
                    },
                    "seed": 231
                }
            }, {
                "class": "OutputConfig",
                "data": {
                    "cost": {
                        "class": "Softmax"
                    }
                }
            }]
        }
    };

    jsonEditor.setValue(JSON.stringify(json, null, 2), -1);

});


function upload() {
    var formData = new FormData();
    formData.append('projectJson', projectJson.files[0]);

    $.ajax({
        url: '@routes.NetController.upload',
        type: 'POST',
        processData: false, // important
        contentType: false, // important
        dataType: 'json',
        data: formData
    });
}

$("#upload-button").click(upload);

</script>
