<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nazca Controller</title>
        <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap-toggle-master/css/bootstrap-toggle.min.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src='@routes.Assets.versioned("jquery-1.12.4.min.js")'></script>
        <script src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.min.js")'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>

        <style>
            table {
                font-family: monospace;
            }
            textarea {
                font-family:monospace;
            }
        </style>

    </head>
    <body>
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#canvas-tab">Canvas</a></li>
            <li class="active"><a data-toggle="tab" href="#monitor-tab">Monitor</a></li>
        </ul>
        <div class="tab-content">
            @canvasTab()
            @monitorTab()
        </div>
    </body>

</html>