<div id="main-tab" class="tab-pane fade in active container-fluid">
    <br/>
    <div class="row content">

        <div class="col-md-2">
            <div class="well well-sm">
                <button class="btn btn-default" id="start-button">Start</button>
                <button class="btn btn-default" id="pause-button">Pause</button>
                <button class="btn btn-default" id="quit-button">Quit</button>
                <hr>
                <div class="form-group">
                    <label for="learning-rate">Learning Rate:</label>
                    <input type="text" class="form-control" id="learning-rate">
                </div>
                <button class="btn btn-default" id="learning-rate-button">Submit</button>
            </div>
        </div>

        <div class="col-md-5">
            <canvas id="training-chart"></canvas>
        </div>
        <div class="col-md-5">
            <canvas id="cost-chart"></canvas>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
            <canvas id="accuracy-chart"></canvas>
        </div>


    </div>

</div>

<script>

        $(function () {
            var controlSocket;

            var controlSocketOnOpen = function () {
                console.log("control websocket opened");
            };

            var controlSocketOnClose = function () {
                console.log('control websocket disconnected');
                setControlSocket()
            };

            var controlSocketOnMessage = function (msg) {
                dispatcher(JSON.parse(msg.data));
            };

            function setControlSocket() {
                var thisUrl = window.location.href;
                var wsUrl = thisUrl.replace("http", "ws") + (thisUrl.endsWith("/") ? "" : "/") + "net-controller";
                controlSocket = new WebSocket(wsUrl);
                controlSocket.onopen = controlSocketOnOpen;
                controlSocket.onclose = controlSocketOnClose;
                controlSocket.onmessage = controlSocketOnMessage;
            }

            setControlSocket();

            function dispatcher(msg) {
            }

            $("#start-button").click(function () {
                controlSocket.send("start")
            });

            $("#pause-button").click(function () {
                controlSocket.send("pause")
            });

            $("#quit-button").click(function () {
                controlSocket.send("quit")
            });

            $("#learning-rate-button").click(function () {
                var lr = $('#learning-rate').val();
                controlSocket.send("learning-rate=" + lr)
            });
        });


        $(function () {
            var monitorSocket;

            var monitorSocketOnOpen = function () {
                console.log("monitor websocket opened");
            };

            var monitorSocketOnClose = function () {
                console.log('monitor websocket disconnected');
                setMonitorSocket()
            };

            var monitorSocketOnMessage = function (msg) {
                // console.log('monitor websocket received message: ' + msg.data);
                dispatcher(JSON.parse(msg.data));
            };

            function setMonitorSocket() {
                var thisUrl = window.location.href;
                var wsUrl = thisUrl.replace("http", "ws") + (thisUrl.endsWith("/") ? "" : "/") + "net-monitor";
                monitorSocket = new WebSocket(wsUrl);
                monitorSocket.onopen = monitorSocketOnOpen;
                monitorSocket.onclose = monitorSocketOnClose;
                monitorSocket.onmessage = monitorSocketOnMessage;
            }

            setMonitorSocket();

            /*
             * === Training Chart ===
             */
            var numTrainingSamples = 100;

            var trainingCtx = document.getElementById("training-chart").getContext('2d');
            var trainingCostData = [];
            var trainingCostLabels = [];
            trainingCostData.length = numTrainingSamples;
            trainingCostLabels.length = numTrainingSamples;
            trainingCostData.fill(0);
            trainingCostLabels.fill(0);

            var trainingChart = new Chart(trainingCtx, {
                type: 'line',
                data: {
                    labels: trainingCostLabels,
                    datasets: [
                    {
                        data: trainingCostData,
                        backgroundColor: 'rgba(55, 99, 132, 0.1)',
                        borderColor: 'rgb(55, 99, 132)',
                        borderWidth: 2,
                        label: "minibatch training cost"
                    }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    animation: {
                        easing: 'linear'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                maxTicksLimit:10
                            }
                        }]
                    }
                }
            });

            /*
             * === Dev Chart ===
             */

            var numEvalSamples = 20;

            var costCtx = document.getElementById("cost-chart").getContext('2d');
            var accCtx = document.getElementById("accuracy-chart").getContext('2d');

            var devLabels = [];
            devLabels.length = numEvalSamples;
            devLabels.fill(0);

            var devCostData = [];
            devCostData.length = numEvalSamples;
            devCostData.fill(0);

            var devAccData = [];
            devAccData.length = numEvalSamples;
            devAccData.fill(0);

            var trainCostData = [];
            trainCostData.length = numEvalSamples;
            trainCostData.fill(0);

            var trainAccData = [];
            trainAccData.length = numEvalSamples;
            trainAccData.fill(0);


            var costChart = new Chart(costCtx, {
                type: 'line',
                data: {
                    labels: devLabels,
                    datasets: [
                        {
                            data: devCostData,
                            backgroundColor: 'rgba(44,162,95,0.1)',
                            borderColor: 'rgb(44,162,95)',
                            borderWidth: 2,
                            label: "dev cost"
                        },
                        {
                            data: trainCostData,
                            backgroundColor: 'rgba(227,74,51, 0.1)',
                            borderColor: 'rgb(227,74,51)',
                            borderWidth: 2,
                            label: "training cost"
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    animation: {
                        easing: 'linear'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                maxTicksLimit:20
                            }
                        }]
                    }
                }
            });


            var accChart = new Chart(accCtx, {
                type: 'line',
                data: {
                    labels: devLabels,
                    datasets: [
                        {
                            data: devAccData,
                            backgroundColor: 'rgba(67,162,202, 0.1)',
                            borderColor: 'rgb(67,162,202)',
                            borderWidth: 2,
                            label: "dev accuracy"
                        },
                        {
                            data: trainAccData,
                            backgroundColor: 'rgba(253,187,132, 0.1)',
                            borderColor: 'rgb(253,187,132)',
                            borderWidth: 2,
                            label: "training accuracy"
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    animation: {
                        easing: 'linear'
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                maxTicksLimit:20
                            }
                        }]
                    }
                }
            });

            function dispatcher(msg) {
                if (msg.source === "train") {
                    trainingCostLabels.push(msg.id);
                    trainingCostLabels.shift();

                    trainingCostData.push(msg.cost);
                    trainingCostData.shift();

                    trainingChart.update();
                }

                if (msg.source === "dev-eval") {
                    devLabels.push(msg.id);
                    devLabels.shift();

                    devCostData.push(msg.cost);
                    devCostData.shift();

                    devAccData.push(msg.accuracy);
                    devAccData.shift();

                    costChart.update();
                    accChart.update();
                }

                if (msg.source === "train-eval") {
                    trainCostData.push(msg.cost);
                    trainCostData.shift();

                    trainAccData.push(msg.accuracy);
                    trainAccData.shift();

                    costChart.update();
                    accChart.update();
                }
            }
        });

</script>

